{% extends 'base.html' %}

{% block title %}- Listagem deutos{% endblock%}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <h1>Listagem de products</h1>
    </div>
    <div class="col-md-3">
    <h1 class="text-right">
        <a id="id_add" class="btn btn-success" href="{% url "product:create" %}"><i class="glyphicon glyphicon-plus"></i> Adicionar Produto</a>
    </h1>
    </div>

</div>

<div class="clearfix"></div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Valor (R$)</th>
            <th class="text-center actions">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.bar_code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.value }}</td>
                <td class="actions">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a id="id_edit_{{ product.pk }}" type="button" class="btn btn-warning" href="{% url 'product:edit' product.pk %}"><i class="glyphicon glyphicon-pencil"></i></a>
                            <button id="id_delete_{{ product.pk }}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal" data-id-prod="{{ product.pk }}"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhum produto cadastrado</td>
            </tr>
        {% endfor%}
    </tbody>
</table>

<form method="post" action="{% url 'product:delete' %}">
    {% csrf_token %}
    <input type="hidden" id="id_prod" name="id_prod">
    <div class="modal fade" tabindex="-1" role="dialog" id="delete_modal">    
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmar Exclusão</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o product?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" id="delete_btn">Excluir</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>


{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $("#delete_modal").on("show.bs.modal", function(evt) {
            var btn = evt.relatedTarget;
            var id_prod = $(btn).data("id-prod");
            $("#id_prod").val(id_prod);
        });
    });    
</script>
{% endblock %}